<!-- <div class="card card-box" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{gymnase?.nomGymnase}}</h5>
        <p class="card-text">{{gymnase?.adresse}}</p>
        <p class="card-text">{{gymnase?.ville}}</p>
        <div class="card-link">
            <a href="http://localhost:4200/gymnase/nom/{{gymnase?.nomGymnase}}" class="c-link">Voir fiche
                <i class="fa fa-angle-right"></i>
            </a>
            <div class="actions">
                <a (click)="onOpenModal(gymnase, 'update')" data-placement="top" data-original-title="update"><button
                        class="btn btn-outline-dark tooltips">Modifier</button></a>
                <a (click)="onOpenModal(gymnase, 'delete')" data-placement="top" data-original-title="delete"><button
                        class="btn btn-outline-dark tooltips">Retirer</button></a>
            </div>
        </div>
    </div>
</div> -->